---
---

@import "{{ site.theme }}";

nav.site-nav {
  font-size: 1.3em;
  
  a {
    color: whitesmoke;
    margin: 10px;
    
    &.active {
      text-decoration: underline orange;
    }
  }
}

@media (width >= 1300px) {
  .inner {
    max-width: 1000px;
  }
  
  .header_wrap {
    text-align: center;
  }
}
