---
---

@import "{{ site.theme }}";

nav.site-nav {
  font-size: 1.3em;
  text-align: center;
  
  a {
    color: whitesmoke;
    margin: 10px;
    
    &.active {
      text-decoration: underline orange;
    }
  }
}
